*{
    margin: 0;
    padding: 0;
    }
    body{
    background-color: rgb(255, 254, 255);
    }
    .inputdetail{
    padding: 5px 5px 60px 123px; 
    margin-left: 400px;
    margin-top: 75px;
    height: 475px;
    width: 590px;
    border-radius: 0%;
    background-color: white;
    box-shadow: 8px 5px 10px rgb(147, 148, 148);
    }
    header{
    font-size: 24px;
    font-weight: 500;
    padding-left: 100px;
    padding-top: 50px;
    height: 40px;
    }
    .inputdetail input{
    width: 270px;
    height: 35px;
    border: 2px solid gray;
    border-radius: 3px;
    }
    .checkbox{
    accent-color: rgb(208, 142, 192);
    }
    .inputdetail .add{
    margin: left 50px;
    width: 150px;
    height: 40px;
    border: none;
    font-size: 14px;
    border-radius: 0px;
    color: rgb(252, 250, 250);
    background-color: rgb(113, 13, 96);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    .inputdetail .mark, .clear{
    width: 100px;
    height: 40px;
    margin-left: 10px;
    background-color: rgb(113, 13, 96);
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    .container .todolist{
    margin-top: -375px;
    margin-left: 520px;
    }
    .todolist .tododetail{
    width: 270px;
    height: 15px;
    margin: 4px;
    border: 2px solid #000000;
    padding: 7px;
    color: rgb(0, 0, 0) ;
    }
    .todolist .tododetail .icon{
    float: right;
    color: #eee;
    }
    .todolist .tododetail:hover{
    box-shadow: 0 0px 16px 5px rgba(0,0,0,0.2);
    }
    .todolist .tododetail .icon:hover{
    color: black;
    }